<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605278579284-ejblpia3ptuafj4b6u6qtuntgmnflok6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605278579284-ejblpia3ptuafj4b6u6qtuntgmnflok6</string>
	<key>API_KEY</key>
	<string>AIzaSyD8P5ffGSPQlXeS8Subdkb1cvEm6KB0VCI</string>
	<key>GCM_SENDER_ID</key>
	<string>605278579284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.upsClone</string>
	<key>PROJECT_ID</key>
	<string>ups-clone-c16f4</string>
	<key>STORAGE_BUCKET</key>
	<string>ups-clone-c16f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605278579284:ios:366ef5d208cf01dfa29bc1</string>
</dict>
</plist>